* {
	box-sizing: border-box;
}

header {
	width: 100%;
	height: auto;
}

.container-header {
	margin-left: 25%;
	width: 50%;
	background-color: #eebb44;

}

header h2, header p {
	padding: 2.5px;
}

header h2 {
	margin-top: 8px;
	font-size: 18px;
}

header p {
	margin-bottom: 8px;
	font-size: 9px;
}

.container-header > * {
display: inline-block;
width: 100%;
vertical-align: middle;
padding: 0 20px;

}


main {
	width: 50%;
	height: auto;
	margin: 0 auto;
}

img {
	width:100%;
	height: ;
	width: ;
	position: relative;
	top: -20px;
	margin-bottom: -20px;
}

.char-text {
	padding: 9px;
}
.character-name {
	display: inline-block;
	font-size: 13px;
	font-weight: bold;
}

.character-description {
	display: block;
	font-size: 10px;
}

.box {
   height: auto;
   text-align: center;
   padding-top: 20px;
   text-align: left;
   border: 0.5px solid #9d9694;
}
